.contato-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

.contato-title h1 {
    color: var(--cinza-escuro);
    text-transform: uppercase;
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -2px;
}

.contato-title p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Familjen Grotesk", sans-serif;
}

.contato-container {
    background: #eceaea;
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-container-left {
    padding: 15px 30px;
    background: black;
    width: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 500px;
    color: white;
    position: relative;
    overflow: hidden;
}

.contato-left-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
}

.contato-left-top h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Familjen Grotesk", sans-serif;
}

.contato-left-top p {
    color: grey;
    font-size: 17px;
    font-weight: 500;
}

.contato-left-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

.contato-left-mid-item, .contato-left-mid a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contato-left-mid-item i, .contato-left-mid a i{
    font-size: 18px;
}

.contato-left-mid-item p, .contato-left-mid a p{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.contato-left-mid a{
    transition: all ease .2s;
}

.contato-left-mid a:hover {
    color: gray;
}

.contato-left-bottom {
    display: flex;
    justify-content: space-between;
    width: 45%;
    position: absolute;
    bottom: 15px;
}

.contato-left-bottom a {
    background-color: var(--cinza-escuro);
    padding: 10px;
    border-radius: 20px;
    transition: all ease .3s;
}

.contato-left-bottom a:hover {
    background-color: #fff;
    color: var(--cinza-escuro);
}

.contato-left-bottom a i {
    font-size: 16px;
}

.shape-left-bottom {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #eceaea;
    position: absolute;
    right: -60px;
    bottom: -40px;
    opacity: 10%;
    z-index: 10;
}

.shape-left-top{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #eceaea;
    position: absolute;
    right: 50px;
    bottom: 80px;
    opacity: 10%;
    z-index: 20;
}

.contato-container-right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
    align-items: center;
    
}

.form-top {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-mid {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Familjen Grotesk", sans-serif;
}

.form-item input {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(#fff);
    font-family: "Familjen Grotesk", sans-serif;
    color: black;
    font-weight: 700;
}

.form-item input:focus {
    outline: 2px solid var(--cinza);
}

.contato-container-right form button {
    background-color: var(--cinza-escuro);
    color: #f3f7fe;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    transition: 0.3s;
}

.contato-container-right form button:hover {
    background-color: #f3f7fe;
    box-shadow: 0 0 0 5px gray;
    color: var(--cinza-escuro);
}




.textarea {
  width: 100%;
  height: 130px;
  padding: 12px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: none;
  margin-bottom: 20px;
}

.textarea:focus {
  border-color: #5b9bd5;
  box-shadow: 0 0 8px rgba(91, 155, 213, 0.5);
}

.textarea::placeholder {
  color: #aaa;
  font-style: italic;
}